[submodule "DashBoardModule1"]
	path = DashBoardModule1
	url = https://github.com/tiagoMissiato/dashboardmodule1.git
[submodule "DashBoardRoot"]
	path = DashBoardRoot
	url = https://github.com/tiagoMissiato/dashboardroot.git
[submodule "DashBoardModule2"]
	path = DashBoardModule2
	url = https://github.com/tiagoMissiato/dashboardmodule2.git
